@import url('../fonts/stylesheet.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  background: #fbfbfb;
  color: #0c0c0c;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 74px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.mobile-menu-button {
  border: none;
  cursor: pointer;
}

.mobile-menu-icon {
  stroke-width: 2.50px;
  stroke: #0c0c0c;
}

.hero {
  padding-top: 60px;
}

.hero-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-header-span {
  color: #3350e9;
}

.hero-text {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-avatars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
}

.hero-avatar-list {
  display: flex;
  flex-direction: row;
}

.hero-avatar-list-item {
  margin-left: -12px;
}

.hero-avatar-list-item:first-child {
  margin-left: 0;
}

.hero-avatar-list-item-img {
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

.hero-scrolldown-link {
  display: flex;
  align-items: end;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-scrolldown-link:hover,
.hero-scrolldown-link:focus {
  color: #3350e9;
}

.hero-image {
  display: flex;
  border-radius: 30px;
  margin-top: 28px;
  overflow: hidden;
}

.aboutus {
  padding-top: 60px;
}


.aboutus-content {
  border-radius: 30px;
  background: #f3f3f3;
  padding: 40px 20px 40px 20px;
}



.aboutus-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.aboutus-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  gap: 20px;
  padding-top: 28px;
  padding-bottom: 40px;
}

.aboutus-button {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  background-color: #3350e9;
  padding: 15px 38px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.aboutus-button:hover,
.aboutus-button:focus {
  background-color: #1f3cd4;
}

.aboutus-image {
  display: flex;
  border-radius: 30px;
  margin-top: 20px;
  overflow: hidden;
}

.catalog {
  padding-top: 60px;
}

.catalog-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.catalog-list-item {
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  width: 100%;
}

.catalog-list-item:nth-child(n + 5) {
  display: none;
}

.catalog-item-name {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-top: 10px;
  padding-bottom: 8px;
}

.catalog-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

/* https: //www.w3schools.com/howto/howto_css_image_center.asp */
/* https: //www.freecodecamp.org/news/how-to-center-an-image-in-a-div-css/ */
.catalog-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.catalog-button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: 0;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  margin-top: 40px;
}

.advertisment {
  margin-top: 60px;
  padding: 60px 28px;
  max-width: 335px;
  border-radius: 30px;
  background: #0c0c0c;
  background-image: url(../images/advertisment-mobile.png);
}

.advertisment-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding-bottom: 28px;
}

.advertisment-span {
  color: rgba(251, 251, 251, 0.5);
}

.advertisment-link-box {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.15);
  border-radius: 16px;
  width: 160px;
  height: 48px;

}

.advertisment-link {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
}

.sale {
  padding-top: 60px;
}

.sale-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
}

.sale-list {
  display: flex;
  gap: 5px;
}

.sale-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 16px;
  width: 80px;
  height: 80px;
  background: #f3f3f3;

}

.sale-list-item-image {
  width: 52px;
  height: 54px;
}

.sale-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
  margin-top: 20px;
}

.sale-card {
  border-radius: 30px;
  background: #3350e9;
  margin-top: 20px;
  padding: 48px 28px 40px 28px;
}

.sale-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding-bottom: 10px;
}

.sale-tag {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  padding-bottom: 20px;
}

.sale-price-list {
  display: flex;
  align-items: baseline;
  gap: 9px;

}

.sale-price-1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  padding: 8px 12px;
  border-radius: 8px;
  background: rgba(251, 251, 251, 0.1);
}

.sale-price-2 {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
  padding: 0;
}

.sale-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
  padding: 28px 0;
}

.sale-properties-list {
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

.sale-properties-list-item {
  display: inline-block;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;
  margin-bottom: 8px;
}

.reviews {
  padding-top: 60px;
}

.reviews-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
}



.reviews-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  padding: 32px 36px;
  background: #f3f3f3;
}

.reviews-item:nth-child(n + 2) {
  display: none;
}

.reviews-item-img {
  border-radius: 100%;
}

.reviews-name {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  text-align: center;
  color: #0c0c0c;
  padding-top: 24px;
}

.reviews-text {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(12, 12, 12, 0.4);
  padding-top: 8px;
}

.contactus {
  padding-top: 60px;
}

.contactus-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
}

.contactus-wrapper {
  border-radius: 30px;
  padding: 48px 28px;
  background: #f3f3f3;
  margin-bottom: 20px;
}

.contactus-description {
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  padding-bottom: 28px;
}

.contactus-form {
  display: flex;
  flex-direction: column;
}


.contactus-form-input {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  margin-bottom: 18px;
  padding: 12px 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-form-input:focus {
  border: 1px solid #3350e9;
}

.contactus-form-textarea {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #0c0c0c;
  outline: transparent;
  background-color: transparent;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  height: 84px;
  margin-bottom: 28px;
  padding: 12px 14px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactus-form-textarea:focus {
  border: 1px solid #3350e9;
}

.contactus-form-send {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background: #3350e9;
  border-radius: 16px;
  border: 0;
  padding: 12px 0;
  width: 134px;
}

.contactus-image {
  border-radius: 30px;
}

.footer {
  max-width: 335px;
  border-radius: 30px;
  background: #0c0c0c;
  margin: 60px auto 20px auto;
  padding: 40px 28px 28px 28px;
}

.footer-logo {
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #fbfbfb;
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  gap: 10px;
  margin-bottom: 34px;

}

.footer-social-list-item {
  width: 34px;
  height: 34px;
}

.footer-social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
}

.footer-social-icon {
  opacity: 0.8;
  width: 18px;
  height: 18px;
  fill: #FBFBFB;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon:hover,
.footer-social-icon:focus {
  opacity: 1;
}

.footer-social-list-link:hover .footer-social-icon,
.footer-social-list-link:focus .footer-social-icon {
  opacity: 1;
}

.footer-phone {
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;
  padding: 14px 20px;
  margin-top: 20px;
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 16px;
}

.footer-text {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fbfbfb;
  margin-top: 54px;
}

.footer-nav-address-wrapper {
  display: flex;
  border-bottom: 1px solid rgba(251, 251, 251, 0.1);
  margin-top: 92px;
  padding-bottom: 24px;
}

.footer-navigation {
  margin-right: 49px;
}

.footer-links-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 16px;
  width: 147px;
}

.footer-link {
  font-size: 12px;
  line-height: 133%;
  text-align: center;
  color: #fbfbfb;
}

.footer-address {
  font-size: 12px;
  line-height: 1.33;
  color: #fbfbfb;
}

.copyright {
  font-size: 10px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
  padding-top: 24px;
}

.copyright-text {
  opacity: 0.9;
  margin-bottom: 8px;
}

.copyright-links {
  display: flex;
  gap: 20px;
}

.mobile-menu-container {
  display: flex;
  position: fixed;
  /* https: //developer.mozilla.org/en-US/docs/Web/CSS/inset */
  inset: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: #0c0c0c3c no-repeat padding-box;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms linear;
}

.mobile-menu-container.is-open {
  opacity: 1;
}

.mobile-menu {
  display: flex;
  position: fixed;
  top: 0%;
  right: 0%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  height: 100%;
  padding: 20px 20px 40px 20px;
  background-image: linear-gradient(0deg,
      rgba(12, 12, 12, 0.92) 0%,
      rgba(12, 12, 12, 0.92) 100%),
    url(../images/menu-img-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: inherit;
}

@media (min-resolution: 192dpi) {
  .mobile-menu {
    background-image: linear-gradient(0deg,
        rgba(12, 12, 12, 0.92) 0%,
        rgba(12, 12, 12, 0.92) 100%),
      url(../images/menu-img-mobile@2x.png);
  }
}

.mobile-menu-close-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 34px;
  height: 34px;
  background-color: transparent;
  cursor: pointer;

}

.mobile-menu-close-icon {
  display: block;
  /* https: //developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Fills_and_Strokes
  https: //www.w3schools.com/graphics/svg_stroking.asp */
  stroke: #fbfbfb;
  stroke-width: 2.5px;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: auto;
  position: relative;
}

.mobile-nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: auto;
}

.mobile-nav-list-item {
  display: block;
  margin: auto;
  position: relative;
}

.mobile-nav-list-item-link {
  position: relative;
  padding-bottom: 2px;
  display: block;
  color: #fbfbfb;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 1.29;
}

.mobile-social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}



.mobile-social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(251, 251, 251, 0.1);
  border-radius: 10px;
  padding: 8px;

}


.mobile-social-list-icon {
  fill: #fbfbfb;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    height: 92px;
  }

  .header-logo {
    font-size: 20px;
  }

  .hero {
    padding-top: 80px;
  }

  .hero-wrapper {
    display: flex;
  }

  .hero-header-text {
    display: flex;
    flex-direction: column;
  }

  .hero-header {
    font-size: 70px;
    line-height: 0.86;
  }

  .hero-text {
    font-size: 16px;
    line-height: 1.25;
    padding-right: 77px;
  }

  .hero-avatars-container {
    display: flex;
    flex-direction: column;
    width: 136px;
    padding-top: 0;
  }

  .hero-avatar-list-item {
    width: 56px;
    height: 56px;
    margin-left: -15px;
  }

  .hero-avatar-list-item-img {
    width: 56px;
    height: 56px;
  }

  .hero-scrolldown-link {
    justify-content: flex-end;
    font-size: 20px;
    line-height: 1.0;
  }

  .hero-image {
    margin-top: 40px;
    border-radius: 50px;
  }

  .aboutus-content {
    border-radius: 50px;
    padding: 80px 60px;
  }

  .aboutus-text {
    font-size: 16px;
    line-height: 1.25;
    padding-top: 40px;
    padding-bottom: 60px;
  }

  .aboutus-image {
    border-radius: 50px;
    margin-top: 40px;
  }

  .catalog {
    padding-top: 80px;
  }

  .catalog-header {
    font-size: 48px;
    line-height: 0.92;
  }

  .catalog-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 16px;
  }

  .catalog-list-item {
    padding: 24px 32px;
    width: calc((100% - 16px)/2);
  }

  .catalog-list-item:nth-child(n + 5) {
    display: inline-block;
  }

  .catalog-item-name {
    font-size: 20px;
    line-height: 1.0;
  }


  .catalog-button {
    display: none;
  }

  .advertisment {
    margin-top: 80px;
    padding: 80px 64px;
    max-width: 704px;
    border-radius: 30px;
    background-image: url(../images/advertisment-tablet.png);
  }

  .sale {
    padding-top: 80px;
  }

  .sale-header {
    font-weight: 600;
    font-size: 48px;
    line-height: 0.92;
  }

  .sale-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-right: 20px;
  }

  .sale-list-item {
    border-radius: 20px;
    width: 132px;
    height: 132px;
    padding: 16px 18px;
  }

  .sale-list-item-image {
    width: 96px;
    height: 100px;
  }

  .sale-list-and-image {
    display: flex;
  }

  .sale-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin-top: 0;
    width: 552px;
  }

  .sale-card {
    border-radius: 50px;
    margin-top: 40px;
    padding: 60px;
  }

  .sale-name {
    font-weight: 600;
    font-size: 32px;
  }

  .sale-price-1 {
    font-size: 20px;
    line-height: 1.0;
  }

  .sale-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .sale-properties-list {
    font-size: 14px;
    line-height: 1.29;
    width: 398px;
  }

  .reviews {
    padding-top: 80px;
  }

  .reviews-header {
    font-size: 48px;
    line-height: 92%;
    padding-bottom: 80px;
  }

  .reviews-list {
    display: flex;
    gap: 16px;
  }

  .reviews-item:nth-child(n + 2) {
    display: flex;
  }

  .reviews-item:nth-child(n + 3) {
    display: none;
  }

  .reviews-name {
    font-size: 18px;
    line-height: 1.1;
  }

  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }

  .contactus {
    padding-top: 80px;
  }

  .contactus-header {
    font-size: 48px;
    line-height: 92%;
    padding-bottom: 80px;
  }

  .contactus-wrapper {
    border-radius: 50px;
    padding: 50px 122px;
    background: #f3f3f3;
    margin-bottom: 40px;
  }

  .contactus-description {
    font-size: 16px;
    line-height: 1.25;
    padding-bottom: 32px;
  }

  .contactus-form-input {
    font-size: 16px;
    line-height: 1.25;
    padding: 16px;
  }

  .contactus-form-textarea {
    font-size: 16px;
    line-height: 1.25;
    padding: 16px;
    margin-bottom: 32px;
  }

  .contactus-form-send {
    border-radius: 16px;
    padding: 17px 0;
  }

  .contactus-image {
    border-radius: 50px;
  }

  .footer {
    max-width: 704px;
    border-radius: 30px;
    padding: 40px 40px 28px 40px;
    margin: 80px auto 32px auto;
  }

  .footer-logo {
    font-size: 20px;
  }

  .footer-social-list {
    margin-bottom: 0;
  }

  .footer-social-list-item {
    width: 36px;
    height: 36px;
  }

  .footer-social-icon {
    width: 20px;
    height: 20px;
  }

  .footer-phone {
    font-size: 14px;
    line-height: 1.29;
    padding: 15px;
    margin-top: 0;
  }

  .footer-text {
    font-size: 28px;
    line-height: 1.14;
    margin-top: 86px;
    padding: 0 50px;
  }

  .footer-logo-social {
    display: flex;
    flex-direction: column;
  }

  .footer-logo-phone {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer-nav-address-wrapper {
    margin-top: 100px;
    padding-bottom: 24px;
  }

  .footer-navigation {
    margin: 0 62px 0 0;
  }

  .footer-links-list {
    width: 400px;
  }

  .footer-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .footer-address {
    font-size: 14px;
    line-height: 1.29;
  }

  .copyright {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.29;
    padding-top: 28px;
  }
}