@import url('/fonts/stylesheet.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  color: currentColor;
  background-color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  background: #fbfbfb;
  color: #0c0c0c;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 74px;
}

.header-logo {
  display: flex;
  align-items: center;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.mobile-menu-button {
  border: none;
  cursor: pointer;
}

.mobile-menu-icon {
  stroke-width: 2.50px;
  stroke: #0c0c0c;
}

.hero {
  padding-top: 60px;
}

.hero-header {
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-header-span {
  color: #3350e9;
}

.hero-text {
  padding-top: 20px;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.hero-avatars-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
}

.hero-avatar-list {
  display: flex;
  flex-direction: row;
}

.hero-avatar-list-item {
  margin-left: -12px;
}

.hero-avatar-list-item:first-child {
  margin-left: 0;
}

.hero-avatar-list-item-img {
  border-radius: 100%;
  width: 44px;
  height: 44px;
}

.hero-scrolldown-link {
  display: flex;
  align-items: end;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.hero-image {
  display: flex;
  border-radius: 30px;
  padding-top: 28px;
}

.aboutus {
  padding-top: 60px;
}


.aboutus-content {
  border-radius: 30px;
  background: #f3f3f3;
  padding: 40px 20px 40px 20px;
}



.aboutus-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.aboutus-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  gap: 20px;
  padding-top: 28px;
  padding-bottom: 40px;
}

.aboutus-button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border-radius: 16px;
  border: 0;
  width: 160px;
  height: 48px;
  background: #3350e9;
}

.aboutus-image {
  display: flex;
  border-radius: 30px;
  padding-top: 20px;
}

.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.catalog-header {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.0;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-bottom: 24px;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.catalog-list-item {
  padding: 24px 28px;
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 30px;
  background: #f3f3f3;
}

.catalog-list-item:nth-child(n + 5) {
  display: none;
}

.catalog-item-name {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  padding-top: 10px;
  padding-bottom: 8px;
}

.catalog-item-price {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.5);
}

.catalog-item-image {
  display: flex;
  align-items: center;
  padding: 24px 28px 0 28px;
}

.catalog-button {
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  border: 0;
  border-radius: 16px;
  width: 160px;
  height: 48px;
  background: #3350e9;
  margin-top: 40px;
}